[submodule "Smart_Contract/lib/forge-std"]
	path = Smart_Contract/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/forge-std"]
	branch = v1.5.3
[submodule "Smart_Contract/lib/openzeppelin-contracts"]
	path = Smart_Contract/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
